<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>DigiVot</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex col-3 position-fixed sidenav px-2">
                    <div>
                        <div class="row" style="margin-top: 60px;">
                            <div class="col-xl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-center"><img class="logo" src="assets/img/DigiVotLogo%201.png" style="width: 120px;"></div>
                        </div>
                        <div class="row" style="margin-top: 70px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex justify-content-center align-items-center justify-content-sm-center">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-0 p-1"><i class="fa fa-th-large icon-size" style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="adminDash.html"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Dashboard</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;width: 100%;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="fas fa-user-friends icon-size" style="font-size: 20px;color: #152E21;"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="adminManagerscreated.html"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #152E21;height: 100%;">Managers</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="fas fa-life-ring icon-size" style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-md-flex d-xl-flex justify-content-md-center align-items-md-center align-items-xl-start stretched-link" href="adminPoliticalpartiesview.html"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Political Party</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="fas fa-square-full icon-size" style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="adminElections.html"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Elections</label></a></div>
                                </div>
                            </div>
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center" style="margin: 0px;margin-top: 90px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-0"><i class="fas fa-power-off icon-size" style="font-size: 20px;color: #FF5C5C;"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="adminLogin.html" style="color: #ff5c5c;font-family: 'Open Sans', sans-serif;"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #FF5C5C;height: 100%;">Logout</label></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Begin Main-->
                <div class="col offset-3" id="main" style="background-color: #ecf6f1;padding: 60px;">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-7 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-md-flex d-lg-flex justify-content-start align-items-center justify-content-sm-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start"><a class="link" href="#" style="font-size: 22px;font-family: 'Open Sans', sans-serif;color: #4daf7c;font-weight: bold;">My Manager&nbsp;</a><span style="font-size: 22px;color: #4daf7c;font-family: 'Open Sans', sans-serif;font-weight: bold;">&nbsp;&gt;&nbsp;</span>
                                    <a
                                        class="link" href="#" style="font-size: 22px;font-family: 'Open Sans', sans-serif;color: #4daf7c;font-weight: bold;">Edit</a>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col-12 col-sm-7 col-md-8 col-lg-8 col-xl-9"><label class="col-form-label" style="color: #152e21;font-size: 27px;font-family: 'Open Sans', sans-serif;font-weight: bold;">Edit Manager's Details</label></div>
                                <div class="col-12 col-sm-5 col-md-4 col-lg-4 col-xl-3">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-xl-6 d-xl-flex justify-content-xl-end align-items-xl-center"><a class="btn btn-primary d-xl-flex justify-content-xl-center align-items-xl-center card-radius2" role="button" style="width: 50px;height: 50px;background-color: #9DF1C5;color: #9df1c5;" href="adminManagersviewmanager.html"><i class="fas fa-eye" style="font-size: 23px;color: #4DAF7C;"></i></a></div>
                                        <div
                                            class="col-6 col-sm-6 col-md-6 col-xl-6 d-xl-flex justify-content-xl-start align-items-xl-center"><button class="btn btn-primary card-radius2" style="background-color: #ffb9b9;width: 50px;height: 50px;" data-toggle="modal" data-target="#delete"><i class="far fa-trash-alt" style="font-size: 23px;color: #ff5c5c;"></i></button>
                                            <div
                                                class="modal fade" role="dialog" tabindex="-1" id="delete">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header d-xl-flex align-items-xl-start" style="padding: 20px;">
                                                            <h2 class="modal-title d-xl-flex align-items-xl-center" style="font-family: 'Open Sans', sans-serif;font-size: 25px;">Kindly confirm that you want to delete this manager</h2><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                                        <div class="modal-footer d-xl-flex justify-content-xl-center"><button class="btn btn-primary modal-button-clear" type="button" style="width: 130px;height: 45px;">Yes</button><button class="btn btn-light bottom-button" type="button" data-dismiss="modal" style="width: 130px;height: 45px;">No</button></div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <div class="form-group">
                    <div class="form-row" style="margin-top: 20px;">
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">First Name</label></div>
                                <div class="col-12"><input class="form-control input-field" type="text" style="font-family: 'Open Sans', sans-serif;font-size: 20px;width: 200px;" value="Oluwavoplu" name="firstname"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Last Name</label></div>
                                <div class="col-12"><input class="form-control input-field" type="text" style="font-family: 'Open Sans', sans-serif;font-size: 20px;width: 200px;" value="Aki" name="lastname"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Other Name</label></div>
                                <div class="col-12"><input class="form-control input-field" type="text" style="font-family: 'Open Sans', sans-serif;font-size: 20px;width: 200px;" name="lastname" value="Toast"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Phone Number</label></div>
                                <div class="col-12"><input class="form-control input-field" type="text" style="font-family: 'Open Sans', sans-serif;font-size: 20px;width: 200px;" value="08056431267" name="phonenumber"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Email Address</label></div>
                                <div class="col-12"><input class="form-control input-field" type="email" style="font-family: 'Open Sans', sans-serif;font-size: 20px;width: 235px;" name="email" value="voplu@ymail.com"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Date of Birth</label></div>
                                <div class="col-12"><input class="form-control input-field" type="date" style="font-size: 20px;font-family: 'Open Sans', sans-serif;" name="date" value="04/06/1998"></div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Address</label></div>
                                <div class="col-12"><textarea class="form-control input-area" style="width: 400px;font-family: 'Open Sans', sans-serif;font-size: 20px;" name="address">56 Uipol Street, Mars Estate, Lagos</textarea></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="form-row">
                                <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Picture</label></div>
                                <div class="col-12 d-lg-flex justify-content-lg-center justify-content-xl-start">
                                    <div class="form-row">
                                        <div class="col-xl-12"><input type="file" id="file" class="inputfile" accept="image/*" style="width: 342px;" name="file"><label class="border rounded-circle d-md-flex d-xl-flex justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center"
                                                for="file" style="width: 220px;height: 220px;"><i class="fas fa-plus d-md-flex d-xl-flex justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="font-size: 100px;color: #ecf6f1;"></i></label></div>
                                        <div
                                            class="col-xl-12"><label class="col-form-label" style="font-family: 'Open Sans', sans-serif;width: 212px;">If no picture is selected, previous picture will be saved</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                        <div class="form-row">
                            <div class="col-xl-12">
                                <div class="form-row">
                                    <div class="col-12 col-xl-12"><label class="col-form-label" style="font-size: 17px;font-family: 'Open Sans', sans-serif;color: rgba(0,0,0,0.65);">Biometric Information</label></div>
                                    <div class="col-12 d-lg-flex justify-content-lg-center align-items-lg-center justify-content-xl-start"><img src="assets/img/mdi_fingerprintgreen.png" style="width: 85px;"></div>
                                </div>
                            </div>
                            <div class="col"><label class="col-form-label" style="font-family: 'Open Sans', sans-serif;width: 212px;">Click the icon above and put your finger on the machine</label></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col d-xl-flex justify-content-xl-end" style="width: 798px;"><button class="btn btn-primary bottom-button" type="button" style="width: 290px;height: 60px;">Save Changes</button></div>
                </div>
        </div>
        </form>
    </div>
    <!--End Main
-->
    </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/collapse.js"></script>
</body>

</html>