{% extends "base.html" %}
{% load static %}

{% block content %}
    <body style="background-color: #ecf6f1;">
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex col-3 position-fixed sidenav px-2" style="background-color: #ffffff;">
                    <div>
                        <div class="row" style="margin-top: 60px;">
                            <div class="col-xl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-center">
                                <img class="img-fluid logo" src="{% static './img/DigiVotLogo%201.png' %}"
                                     style="width: 120px;"></div>
                        </div>
                        <div class="row" style="margin-top: 70px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center"
                                 style="margin: 0px;margin-top: 25px;width: 100%;color: rgb(71,71,71);">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12">
                                        <i class="fas fa-th-large icon-size"
                                           style="font-size: 20px;color: #152E21;"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static">
                                        <a class="stretched-link d-xl-flex align-items-xl-start stretched-link"
                                           href="{% url 'admin_dashboard' %}" style="color: #474747;"><label
                                                class="d-xl-flex justify-content-xl-center align-items-xl-center text-size"
                                                style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #152E21;height: 100%;">Dashboard</label></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center"
                                 style="margin: 0px;margin-top: 25px;width: 100%;color: rgb(71,71,71);">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12">
                                        <i class="fas fa-user-friends icon-size"
                                           style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static">
                                        <a class="stretched-link d-xl-flex align-items-xl-start stretched-link"
                                           href="{% url 'admin_view_managers' %}" style="color: #474747;"><label
                                                class="d-xl-flex justify-content-xl-center align-items-xl-center text-size"
                                                style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Managers</label></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center"
                                 style="margin: 0px;margin-top: 25px;">
                                <div class="row d-md-flex position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12">
                                        <i class="fas fa-life-ring icon-size"
                                           style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-md-center align-items-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static">
                                        <a class="stretched-link d-md-flex d-xl-flex justify-content-md-center align-items-md-center align-items-xl-start stretched-link"
                                           href="{% url 'adminPoliticalpartiesview' %}"><label
                                                class="d-xl-flex justify-content-xl-center align-items-xl-center text-size"
                                                style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Political
                                            Party</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center"
                                 style="margin: 0px;margin-top: 25px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12">
                                        <i class="fas fa-square-full icon-size"
                                           style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static">
                                        <a class="stretched-link d-xl-flex align-items-xl-start stretched-link"
                                           href="{% url 'adminElections' %}"><label
                                                class="d-xl-flex justify-content-xl-center align-items-xl-center text-size"
                                                style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Elections</label></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center"
                                 style="margin: 0px;margin-top: 90px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-0">
                                        <i class="fas fa-power-off icon-size"
                                           style="font-size: 20px;color: #FF5C5C;"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static">
                                        <form method="post" action="{% url 'user_logout' %}">
                                            {% csrf_token %}
                                            {% if redirect_field_value %}
                                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                            {% endif %}
                                            <button style="font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: bold; color: #FF5C5C; height: 100%;
                                                            padding-left: 0; border: none; background-color: #fff"
                                                    type="submit">Logout</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col offset-3" id="main" style="background-color: #ecf6f1;padding: 60px;">
                    <!--Main Content-->
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex d-sm-flex d-md-flex d-lg-flex justify-content-start align-items-center justify-content-sm-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center">
                                    <label class="col-form-label small-screentext"
                                           style="font-size: 20px;color: rgb(0,0,0);font-family: 'Open Sans', sans-serif;font-weight: bold;">Welcome, {{ request.user.username }}</label>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center justify-content-sm-end align-items-sm-center justify-content-md-end align-items-md-center justify-content-lg-end align-items-lg-center justify-content-xl-end">
                                    <label class="col-form-label small-screentext"
                                           style="color: #474747;font-size: 20px;font-family: 'Open Sans', sans-serif;margin-top: 10px;">{% now "jS F Y" %}</label>
                                </div>
                            </div>
                            <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                                <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11"><img class="img-fluid"
                                                                                                 src="{% static './img/adminIllustration.svg' %}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                         style="margin-top: 35px;padding-left: 0px;margin-bottom: 20px;">
                        <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center">
                            <div class="card card-radius1">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 d-xl-flex align-items-xl-center">
                                            <label class="col-form-label"
                                                   style="color: rgb(0,0,0);font-family: 'Open Sans', sans-serif;font-size: 20px;font-weight: bold;">Recently
                                                Created Managers</label></div>
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-xl-flex justify-content-xl-center align-items-xl-center">
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr style="font-family: 'Open Sans', sans-serif;font-size: 15px;">
                                                        {% comment %} <th>ID</th> {% endcomment %}
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Email Address</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for manager in managers %}
                                                        <tr style="font-family: 'Open Sans', sans-serif;font-size: 13px;">
                                                            {% comment %} <td>{{ manager.get_admin_id }}</td> {% endcomment %}
                                                            <td>{{ manager.first_name }}</td>
                                                            <td>{{ manager.last_name }}</td>
                                                            <td>{{ manager.get_phone }}</td>
                                                            <td>{{ manager.email }}</td>
                                                            <td class="d-xl-flex"><a href="{% url 'admin_view_a_manager' pk=manager.id  %}"><i class="fas fa-eye"
                                                                                                 style="font-size: 19px;color: #4daf7c;"></i></a>
                                                            </td>
                                                            <td><a href="{% url 'admin_edit_manager' pk=manager.id %}"><i class="fas fa-pen"
                                                                               style="font-size: 19px;color: #7492cb;"></i></a>
                                                            </td>
                                                            <td><a href="{% url 'admin_delete_manager' pk=manager.id %}"><i class="far fa-trash-alt"
                                                                               style="font-size: 19px;color: #ff5c5c;"></i></a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--End Main-->

    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static './js/collapse.js' %}"></script>
    </body>
{% endblock content %} 