{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <div id="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 d-flex col-3 position-fixed sidenav px-2">
                    <div>
                        
                        <div class="row" style="margin-top: 60px;">
                            <div class="col-xl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-center" style="margin-top: -40px;"><img class="img-fluid logo" src="{% static './img/DigiVotLogo%201.png'%}" style="width: 120px;"></div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;width: 100%;color: rgb(71,71,71);">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="fas fa-th-large icon-size" style="font-size: 20px;color: #152E21;"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="{% url 'managerDash'%}" style="color: #474747;"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #152E21;height: 100%;">Dashboard</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;width: 100%;color: rgb(71,71,71);">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="fas fa-user-friends icon-size" style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="{% url 'managerVoter'%}"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Voters</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;">
                                <div class="row d-md-flex position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="material-icons icon-size" style="font-size: 20px;color: rgba(132,129,129,0.73);">comment</i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-md-center align-items-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-md-flex d-xl-flex justify-content-md-center align-items-md-center align-items-xl-start stretched-link" href="{% url 'managerRequests'%}"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Requests</label></a></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex d-sm-flex d-lg-flex justify-content-center justify-content-sm-center justify-content-lg-center" style="margin: 0px;margin-top: 25px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center align-items-lg-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-12"><i class="fa fa-users icon-size" style="font-size: 20px;color: rgba(132,129,129,0.73);"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="{% url 'managerCandidates'%}"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: rgba(132,129,129,0.73);height: 100%;">Candidates</label></a></div>
                                </div>
                            </div>
                            <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center align-items-xl-center" style="margin: 0px;margin-top: 20px;">
                                <div class="row position-relative" style="width: 100%;">
                                    <div class="col-lg-3 col-xl-3 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-xl-center align-items-xl-center col-md-12 col-sm-0"><i class="fas fa-power-off icon-size" style="font-size: 20px;color: #FF5C5C;"></i></div>
                                    <div class="col-lg-9 col-xl-9 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-start justify-content-xl-start col-md-12 col-sm-12 position-static"><a class="stretched-link d-xl-flex align-items-xl-start stretched-link" href="#" style="color: #ff5c5c;font-family: 'Open Sans', sans-serif;"><label class="d-xl-flex justify-content-xl-center align-items-xl-center text-size" style="font-size: 20px;font-family: 'Open Sans', sans-serif;font-weight: bold;color: #FF5C5C;height: 100%;">Logout</label></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-xl-flex justify-content-xl-start align-items-xl-center" id="divider" style="font-family: 'Open Sans', sans-serif;margin-top: 41px;font-size: 12px;">
                            <div class="col-12 d-xl-flex justify-content-xl-start align-items-xl-center"><label class="col-form-label" style="font-family: 'Open Sans', sans-serif;font-weight: 600;font-size: 13px;">Admin Details</label></div>
                            <div class="col-12 d-xl-flex justify-content-xl-start align-items-xl-center"><label class="col-form-label" style="font-size: 12px;">ID: 19089324</label></div>
                            <div class="col-12 d-xl-flex justify-content-xl-start align-items-xl-center"><label class="col-form-label" style="font-size: 12px;">Stata: Lagos</label></div>
                            <div class="col-12 d-xl-flex justify-content-xl-start align-items-xl-center"><label class="col-form-label" style="font-size: 12px;">Region: Surulere-west</label></div>
                        </div>
                    </div>
                </div>
                <div class="col offset-3" id="main" style="background-color: #ecf6f1;padding: 60px;padding-top: 40px;">
                    <!--Main Content
-->
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex d-sm-flex d-md-flex d-lg-flex justify-content-start align-items-center justify-content-sm-start align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center"><label class="col-form-label small-screentext" style="font-size: 20px;color: rgb(0,0,0);font-family: 'Open Sans', sans-serif;font-weight: bold;">Manager Dashboard</label></div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex align-items-center justify-content-sm-end align-items-sm-center justify-content-md-end align-items-md-center justify-content-lg-end align-items-lg-center justify-content-xl-end"><label class="col-form-label small-screentext" style="color: #474747;font-size: 20px;font-family: 'Open Sans', sans-serif;margin-top: 10px;">21 August 2020, Friday</label></div>
                            </div>
                            <div class="row" style="margin-top: 35px;">
                                <div class="col-11 col-sm-6 col-md-4 col-lg-4 col-xl-4" style="margin-top: 15px;">
                                    <div class="card card-radius1" style="background-color: #4daf7c;color: rgb(255,255,255);">
                                        <div class="card-body" style="padding-bottom: 0px;">
                                            <h4 class="card-title" style="font-size: 16px;font-family: 'Open Sans', sans-serif;font-weight: normal;margin: 0px;margin-bottom: 5px;">Voters registered by you</h4><a class="card-link stretched-link" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 45px;color: rgb(254,255,255);">{{countV}}</a></div>
                                    </div>
                                </div>
                                <div class="col-11 col-sm-6 col-md-4 col-lg-4 col-xl-4" style="margin-top: 15px;">
                                    <div class="card card-radius1" style="background-color: #152E21;color: rgb(255,255,255);">
                                        <div class="card-body" style="padding-bottom: 0px;">
                                            <h4 class="card-title" style="font-size: 16px;font-family: 'Open Sans', sans-serif;font-weight: normal;margin-bottom: 5px;">Managers registered</h4><a class="card-link stretched-link" href="#" style="font-family: 'Open Sans', sans-serif;font-size: 45px;color: rgb(254,255,255);">{{count}}</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 40px;">
                                <div class="col d-md-flex d-lg-flex d-xl-flex justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center"><label class="col-form-label" style="color: rgb(0,0,0);font-family: 'Open Sans', sans-serif;font-size: 18px;font-weight: bold;">Status of Requests from Admin</label></div>
                                <div class="col d-md-flex d-lg-flex d-xl-flex justify-content-md-end align-items-md-center justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center"><a href="#" style="color: rgb(0,0,0);font-size: 15px;font-family: 'Open Sans', sans-serif;">View More</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xl-4 d-sm-flex d-md-flex d-lg-flex justify-content-sm-center justify-content-md-start justify-content-lg-start" style="margin-top: 15px;">
                            <div class="card" style="background-color: #4DAF7C;width: 265px;">
                                <div class="card-body" style="padding: 20px;padding-top: 10px;padding-bottom: 10px;padding-right: 0px;">
                                    <div class="row">
                                        <div class="col-xl-3 d-xl-flex justify-content-xl-center"><button class="btn btn-primary d-xl-flex align-items-xl-center" type="button" style="height: 50px;width: 50px;font-family: 'Open Sans', sans-serif;font-size: 30px;background-color: rgba(255,255,255,0.3);color: rgb(255,255,255);font-weight: normal;">G</button></div>
                                        <div
                                            class="col-xl-9">
                                            <div class="row d-xl-flex justify-content-xl-start">
                                                <div class="col d-xl-flex justify-content-xl-start"><label class="col-form-label d-xl-flex justify-content-xl-start" style="font-family: 'Open Sans', sans-serif;font-size: 17px;color: rgb(255,255,255);font-weight: 500;padding: 0px;">Request Granted</label></div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-xl-flex justify-content-xl-start"><label class="col-form-label" style="padding: 0px;color: rgb(255,255,255);font-size: 12px;font-family: 'Open Sans', sans-serif;font-weight: normal;font-style: normal;">You can now edit this voter</label></div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-xl-4 d-sm-flex d-md-flex d-lg-flex justify-content-sm-center justify-content-md-start justify-content-lg-start" style="margin-top: 15px;">
                        <div class="card" style="background-color: #7492cb;width: 265px;">
                            <div class="card-body" style="padding: 20px;padding-top: 10px;padding-bottom: 10px;padding-right: 0px;">
                                <div class="row">
                                    <div class="col-xl-3 d-xl-flex justify-content-xl-center"><button class="btn btn-primary d-xl-flex align-items-xl-center" type="button" style="height: 50px;width: 50px;font-family: 'Open Sans', sans-serif;font-size: 30px;background-color: rgba(255,255,255,0.3);color: rgb(255,255,255);font-weight: normal;">P</button></div>
                                    <div
                                        class="col-xl-9">
                                        <div class="row d-xl-flex justify-content-xl-start">
                                            <div class="col d-xl-flex justify-content-xl-start"><label class="col-form-label d-xl-flex justify-content-xl-start" style="font-family: 'Open Sans', sans-serif;font-size: 17px;color: rgb(255,255,255);font-weight: 500;padding: 0px;">Request Pending</label></div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-xl-flex justify-content-xl-start"><label class="col-form-label" style="padding: 0px;color: rgb(255,255,255);font-size: 12px;font-family: 'Open Sans', sans-serif;font-weight: 100;">Your admin is yet to approve</label></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 d-sm-flex d-md-flex d-lg-flex justify-content-sm-center justify-content-md-start justify-content-lg-start" style="margin-top: 15px;">
                    <div class="card" style="background-color: #FF5C5C;width: 265px;">
                        <div class="card-body" style="padding: 20px;padding-top: 10px;padding-bottom: 10px;padding-right: 0px;">
                            <div class="row">
                                <div class="col-xl-3 d-xl-flex justify-content-xl-center"><button class="btn btn-primary d-xl-flex align-items-xl-center" type="button" style="height: 50px;width: 50px;font-family: 'Open Sans', sans-serif;font-size: 30px;background-color: rgba(255,255,255,0.3);color: rgb(255,255,255);font-weight: normal;">D</button></div>
                                <div
                                    class="col-xl-9">
                                    <div class="row d-xl-flex justify-content-xl-start">
                                        <div class="col d-xl-flex justify-content-xl-start"><label class="col-form-label d-xl-flex justify-content-xl-start" style="font-family: 'Open Sans', sans-serif;font-size: 17px;color: rgb(255,255,255);font-weight: 500;padding: 0px;">Request Denied</label></div>
                                    </div>
                                    <div class="row">
                                        <div class="col d-xl-flex justify-content-xl-start"><label class="col-form-label" style="padding: 0px;color: rgb(255,255,255);font-size: 12px;font-family: 'Open Sans', sans-serif;font-weight: normal;font-style: normal;">You cannot modify the voter</label></div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="margin-top: 35px;padding-left: 0px;margin-bottom: 20px;">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-12 d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center" style="margin-top: 35px;">
                <div class="card card-radius1" style="width: 100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 d-xl-flex align-items-xl-center"><label class="col-form-label" style="color: rgb(0,0,0);font-family: 'Open Sans', sans-serif;font-size: 18px;font-weight: bold;">Recently Created Voters</label></div>
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 d-xl-flex justify-content-xl-center align-items-xl-center"><a href="#" style="color: rgb(0,0,0);font-size: 15px;font-family: 'Open Sans', sans-serif;">View More</a></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="font-family: 'Open Sans', sans-serif;font-size: 15px;">
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>Phone Number</th>
                                                <th>Email Address</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for voter in voters %}
                                            <tr style="font-family: 'Open Sans', sans-serif;font-size: 13px;">
                                                <td>{{voter.voterID}}</td>
                                                <td>{{voter.firstname}}</td>
                                                <td>{{voter.lastname}}</td>
                                                <td>{{voter.phonenumber}}</td>
                                                <td>{{voter.email}}</td>
                                                <td class="d-xl-flex"><a href="{% url 'managerViewvoter' voter.voterID %}"><i class="fas fa-eye" style="font-size: 19px;color: #4daf7c;"></i></a></td>
                                                <td><a href="{% url 'managerVoteredit' voter.voterID %}"><i class="fas fa-pen" style="font-size: 19px;color: #7492cb;"></i></a></td>
                                                <td><a href="{% url 'managerDeletevoter' voter.voterID %}"><i class="far fa-trash-alt" style="font-size: 19px;color: #ff5c5c;"></i></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Main
-->
    </div>
    </div>
    </div>
    </div>
    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static './js/collapse.js' %}"></script>
</body>
{% endblock content %}